
<%- include("partials/header") -%>

<div class="main-success">

  <div class="jumbotron">
    <h2 class="display-4"> <%= name %> </h2>
    <p class="lead">Country: <%= country %> </p>
    <p class="lead">Tribe: <%= tribe %> </p>
    <p class="lead">Meaning: <%= meaning %> </p>
    <hr class="my-4">
    <a class="btn btn-primary btn-md shadow-none" href="/" role="button"> <= Keep exploring </a>
  </div>

</div>


<%- include("partials/footer") -%>
